<div class="ui center aligned segment">
  <p>
    <img class="ui intro" ng-src="assets/icons/titles/reserve_intro.svg">
  </p>

  <h1 class="ui header"> RESERVE </h1>
  <p>
    What 3 goals would you like to achieve within the next 5 years?
  </p>
  <p class="ui header">
    How soon do you plan to achieve them and how much will you need?
  </p>
</div>

<div class="ui segment nopadding">
  <div class="ui items">
    <div class="item" ng-repeat="t in vm.targets">

      <div class="ui center aligned vertical segment full">

        <div class="ui selection segment dropdown basic iconed" id="target-{{$index}}">
          <input type="hidden" name="target-{{$index}}">
          <i class="dropdown icon"></i>
          <div class="default text">Select a Goal</div>
          <div class="menu">
            <div class="item" ng-repeat="g in vm.ranges" data-value="{{$index}}">
              <!-- <div class="ui header"> -->
                <img class="ui goal" ng-src="assets/icons/goals/{{g.name}}.svg" alt="Goals Selection">
              <!-- </div> -->
              {{g.text}}
            </div>
          </div>
        </div>

        <div class="ui grid rgrid">
          <div class="ui five wide center aligned column rvalue"> {{t.time / 52}} Y </div>
          <div class="ui eleven wide column rbox">
            <div class="ui range game" id="trange-{{$index}}"></div>
          </div>
        </div>

        <div class="ui grid rgrid">
          <div class="ui five wide center aligned column rvalue"> $ {{t.budget.toLocaleString()}} </div>
          <div class="ui eleven wide column rbox">
            <div class="ui range game" id="brange-{{$index}}"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="ui center aligned vertical segment" ng-if="!vm.fulfilled()">
  <button class="ui button submit" ng-click="vm.addGoal()"> Add another goal </button>
</div>

<div class="ui center aligned segment nomargin">
  <p class="ui header">Do you have any credit card or other personal debt?</p>
</div>

<div class="ui center aligned vertical segment" ng-if="!vm.gameData.bossValues.hasDebt">
  <button class="ui button submit" ng-click="vm.gameData.bossValues.hasDebt=true"> Add Debt </button>
</div>

<div class="ui segment nopadding" ng-show="vm.gameData.bossValues.hasDebt">
  <div class="ui items">
    <div class="item">
      <div class="ui vertical segment full">
        <!-- <div class="ui header"> Loan </div> -->

        <div class="ui grid rgrid">
          <div class="ui five wide center aligned column rvalue"> $ {{vm.gameData.bossValues.BPV.toLocaleString()}} </div>
          <div class="ui eleven wide column rbox">
            <div class="ui range game" id="loan-range"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="item">
      <div class="ui vertical segment full">
        <!-- <div class="ui header"> Interest </div> -->

        <div class="ui grid rgrid">
          <div class="ui five wide center aligned column rvalue"> {{vm.gameData.bossValues.BRATE}} % </div>
          <div class="ui eleven wide column rbox">
            <div class="ui range game" id="interest-range"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="ui center aligned segment nomargin">
  <p class="ui header">How much you have got saved up and what interest rate do you earn on your deposits?</p>
</div>

<div class="ui segment nopadding">
  <div class="ui items">
    <div class="item">
      <div class="ui vertical segment full">
        <!-- <div class="ui header"> Current Cash Savings </div> -->

        <div class="ui grid rgrid">
          <div class="ui five wide center aligned column rvalue"> $ {{vm.gameData.armoryRanges[0].value.toLocaleString()}} </div>
          <div class="ui eleven wide column rbox">
            <div class="ui range game" id="savings-range"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="item">
      <div class="ui vertical segment full">
        <!-- <div class="ui header"> Current Cash Savings </div> -->

        <div class="ui grid rgrid">
          <div class="ui five wide center aligned column rvalue"> {{vm.gameData.armoryRanges[4].value}} %</div>
          <div class="ui eleven wide column rbox">
            <div class="ui range game" id="savings-interest-range"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="ui center aligned vertical segment">
  <!-- <p>
    Once you are clear about your objectives, it is easy to see what it takes to achieve them.
  </p> -->
  <button ui-sref="central" class="ui button submit" ng-disabled="!vm.fulfilled()"> Done </button>
</div>
