<div class="ui center aligned segment">
  <h1 class="ui header"> Goals Selection </h1>
  <p>
    Blank Financial Technology
    presents:

    YOUR MONEY

    There’s a very old method used by virtually every corporation to understand money:

    Double-entry theory

    This tool uses some of those principles to help you answer 3 questions:

    Can I achieve 3 goals in 5 years?

    Can I be debt free in 5 years?

    How much can I save in 5 years?

    It’s quick and easy (3 minutes), you don’t have to type anything and you can complete it anonymously.


    To start, you must choose your objectives, then reserve the money to achieve them.

    Pick 3 goals to complete within 5 years:

  </p>
</div>

<div class="ui segment nopadding">
  <div class="ui items">
    <div class="item" ng-repeat="t in vm.targets">

      <div class="ui center aligned vertical segment full">

        <div class="ui selection segment dropdown basic iconed" id="target-{{$index}}">
          <input type="hidden" name="target-{{$index}}">
          <i class="dropdown icon"></i>
          <div class="default text">Select a Goal</div>
          <div class="menu">
            <div class="item" ng-repeat="g in vm.ranges" data-value="{{$index}}">
              <!-- <div class="ui header"> -->
                <img class="ui goal" ng-src="assets/icons/goals/{{g.name}}.svg" alt="Goals Selection">
              <!-- </div> -->
              {{g.text}}
            </div>
          </div>
        </div>

        <div class="ui grid rgrid">
          <div class="ui four wide center aligned column rvalue"> {{t.time / 52}} Y </div>
          <div class="ui twelve wide column rbox">
            <div class="ui range game" id="trange-{{$index}}"></div>
          </div>
        </div>

        <div class="ui grid rgrid">
          <div class="ui four wide center aligned column rvalue"> ${{t.budget}} </div>
          <div class="ui twelve wide column rbox">
            <div class="ui range game" id="brange-{{$index}}"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="ui center aligned vertical segment" ng-if="!vm.fulfilled()">
  <button class="ui button submit" ng-click="vm.addGoal()"> Add another goal </button>
</div>


<p class="ui center aligned segment"> COPY </p>

<div class="ui center aligned vertical segment">
  <button ui-sref="loan" class="ui button submit"  ng-disabled="!vm.fulfilled()" ng-click="vm.submit()"> Submit </button>
</div>
