<h1 class="ui center aligned segment"> Goals Selection </h1>

<p class="ui center aligned segment"> COPY </p>

<div class="ui segment">
  <div class="ui divided items">
    <div class="item" ng-repeat="t in vm.targets">

      <div class="ui center aligned vertical segment full">

        <div class="ui selection segment dropdown basic" id="target-{{$index}}">
          <input type="hidden" name="target-{{$index}}">
          <i class="dropdown icon"></i>
          <div class="default text">Select a Goal</div>
          <div class="menu">
            <div class="item" ng-repeat="g in vm.ranges" data-value="{{$index}}">
              <!-- <div class="ui header"> -->
                <img class="ui goal" src="assets/icons/goals/{{g.name}}.svg" alt="Goals Selection">
              <!-- </div> -->
              {{g.text}}
            </div>
          </div>
        </div>

        <div class="ui grid rgrid">
          <div class="ui four wide center aligned column rvalue"> {{t.time / 52}} Y </div>
          <div class="ui twelve wide column rbox">
            <div class="ui range game" id="trange-{{$index}}"></div>
          </div>
        </div>

        <div class="ui grid rgrid">
          <div class="ui four wide center aligned column rvalue"> ${{t.budget}} </div>
          <div class="ui twelve wide column rbox">
            <div class="ui range game" id="brange-{{$index}}"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="ui center aligned vertical segment">
  <button class="ui button" ng-if="!vm.fulfilled()" ng-click="vm.addGoal()"> Add another goal </button>
</div>


<p class="ui center aligned segment"> COPY </p>

<div class="ui center aligned vertical segment">
  <button ui-sref="ready" class="ui button"  ng-disabled="!vm.fulfilled()" ng-click="vm.submit()"> <i class="fa fa-check fa-2x" aria-hidden="true"></i> </button>
</div>
