<div class="ui center aligned segment">
  <h1 class="ui header"> Discretion </h1>
  <p>COPY</p>
</div>

<div class="ui segment nopadding">
  <div class="ui items">
    <div class="item" ng-repeat="r in vm.ranges">
      <div class="ui vertical segment full">
        <div class="ui header"> {{r.text}} </div>

        <div class="ui grid rgrid">
          <div class="ui four wide center aligned column rvalue"> ${{vm.ranges[$index].value}} </div>
          <div class="ui twelve wide column rbox">
            <div class="ui range game" id="{{r.name}}-range"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="ui item">
      <div class="ui center aligned vertical segment full">
        <p class="ui header">Total: &nbsp; ${{vm.getSum()}}</p>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned vertical segment">
  <button ui-sref="boss" class="ui button submit" ng-click="vm.gameData.calcDSum()"> Submit </button>
</div>
