<h1 class="ui center aligned segment"> Discretion </h1>

<p class="ui center aligned segment"> COPY </p>

<div class="ui segment">
  <div class="ui divided list">
    <div class="item" ng-repeat="r in vm.ranges">
      <div class="ui header"> {{r.text}} </div>

      <div class="ui center aligned vertical segment">
        <div class="ui range" id="{{r.name}}-range"></div>
        ${{vm.ranges[$index].value}}
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned vertical segment">
  <button ui-sref="boss" class="ui button" ng-click="vm.gameData.calcDSum()"> <i class="fa fa-check fa-2x" aria-hidden="true"></i> </button>
</div>
