<h1 class="ui center aligned segment"> Budget Selection </h1>

<p class="ui center aligned segment"> COPY </p>

<div class="ui center aligned segment">
  <h3> Deposits </h3>
  <div class="ui relaxed divided list" ng-repeat="target in vm.targets">
    <div class="item">

      <img class="ui" src="{{target.name}}.jpg">

      <div class="ui labeled input">
        <div class="ui label">$</div>
        <input type="text" placeholder="Amount"
          value="{{target.budget}}" disabled>
        <!-- <div class="ui basic label"></div> -->
        <button class="ui basic label" ng-click="vm.increment($index)"> + </button>
        <button class="ui basic label" ng-click="vm.decrement($index)"> - </button>
      </div>
    </div>
  </div>
  <div class="ui center aligned vertical segment">
    <p class="ui header">Total: ${{vm.getSum()}}</p>
  </div>
</div>

<p class="ui center aligned segment"> COPY </p>

<div class="ui center aligned vertical segment">
  <button ui-sref="ready" class="ui button" ng-click="vm.gameData.graph()">
    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
  </button>
</div>
