$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.uiview {
  max-width: 425px;
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding-left: 0!important;
  padding-right: 0!important;
  font-family: helvetica neue;
}

.blank-symbol {
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
}
.blank-title {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  height: 50px;
  padding: 10px!important;
  max-width: 425px;
  margin: 0 auto;
}
.blank-title-text {
  position: absolute;
  right: 20px;
  top: 0;
  font-weight: bold;
  font-family: helvetica;
}

.navbar {
  max-width: 425px;
  margin: auto;
}

.full {
  width: 100%
}

.nopadding {
  padding: 0!important;
}

.nomargin {
  margin: 0!important;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'game/game';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
