<!-- <div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">game</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->


<div class="ui four item menu navbar">
  <!-- <div class="item" ui-sref-active="{'disabled': 'main'}">
    <i class="big arrow left icon" ng-click="vm.navBack()"></i>
  </div> -->
  <div class="item" ui-sref-active="active">
    <img class="icon" src="assets/icons/navbar/reserve.png" alt="Goals Selection" ui-sref="goals">
    <div class="hidden" ui-sref="time"></div>
    <div class="hidden" ui-sref="budget"></div>
    <div class="hidden" ui-sref="ready"></div>
  </div>
  <div class="item" ui-sref-active="active">
    <img class="icon" src="assets/icons/navbar/suspense.png" alt="Suspense" ui-sref="suspense">
  </div>
  <div class="item" ui-sref-active="active">
    <img class="icon" src="assets/icons/navbar/discretion.png" alt="Discretion" ui-sref="discretion">
    <div class="hidden" ui-sref="boss"></div>
  </div>
  <div class="item"  ui-sref-active="active">
    <img class="icon" src="assets/icons/navbar/results.png" alt="Results" ui-sref="battle">
    <div class="hidden" ui-sref="results"></div>
  </div>
  <!-- <div class="item" ui-sref-active="{'disabled': 'results'}">
    <i class="big arrow right icon" ng-click="vm.navForward()"></i>
  </div> -->
  <!-- <div class="item">
    <i class="big repeat icon" ng-click="vm.restart()" ui-sref="main"></i>
  </div> -->
</div>
