<div class="ui center aligned segment nomargin">
  <p>
    <img class="ui logo" ng-src="assets/icons/titles/logo.png" alt="Blankft's logo">
  </p>
  <p> presents: </p>

  <p class="ui header"> YOUR MONEY IN 3 MINUTES </p>

  <p>
    There’s a very old method used by virtually every corporation to understand and manage money –it’s called double-entry theory.
  </p>

  <p>
    This tool uses some of those principles to help you answer 3 simple questions:
  </p>

  <p class="ui header">
    Can I achieve 3 goals in 5 years?
  </p>

  <p class="ui header">
  Can I be debt free in 5 years?
  </p>

  <p class="ui header">
  How much can I save in 5 years?
  </p>

  <p>
    It’s quick and easy, you don’t have to type anything and you can complete it anonymously.
  </p>

</div>

<!-- <div class="ui center aligned segment">
  <h3> Select your character </h3>

  <div class ="ui grid padded center aligned">
    <div class="ui eight wide column">
      <button class="ui button" ng-click="vm.setGender('m')">
        Male
      </button>
    </div>
    <div class="ui eight wide column">
      <button class="ui button" ng-click="vm.setGender('f')">
        Female
      </button>
    </div>
  </div>
</div> -->

<div class="ui center aligned vertical segment">
  <button ui-sref="goals" class="ui button submit"> OK </button>
</div>
