<h1 class="ui center aligned segment"> Quest For Equity? </h1>

<p class="ui center aligned segment"> COPY </p>

<div class="ui center aligned segment">
  <h3> Select your character </h3>

  <div class ="ui grid padded center aligned">
    <div class="ui eight wide column">
      <button class="ui button" ng-click="vm.setGender('m')">
        Male
      </button>
    </div>
    <div class="ui eight wide column">
      <button class="ui button" ng-click="vm.setGender('f')">
        Female
      </button>
    </div>
  </div>
</div>

<div class="ui center aligned vertical segment">
  <button ui-sref="goals" class="ui button" ng-disabled="!vm.validData">
    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
  </button>
</div>
