// UI Semantic Range

.ui.rgrid {
  margin: 0;
  height: 48px;
}

.ui.rvalue {
  background: black;
  color: white;
  font-size: medium;
  line-height: 30px;
  padding-top: 9px!important;
  padding-left: 6px!important;
}

.ui.rbox {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-left: 0;
  padding-left: 0!important;
  padding-right: 0!important;
  padding-top: 9px!important;
}

.ui.column.dropbox {
  padding: 0!important;
}

.ui.range {
  height: 30px;
}

.ui.range.game .inner {
  margin: 0;
  height: 30px;
}

.ui.range.game .inner .track {
  height: 10px;
  border-radius: 0;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.ui.range.game.alone .inner .track {
  border: black solid 1px;
}

.ui.range.game .inner .track-fill {
  height: 10px;
  border-radius: 0px;
  background-color: black;
}

.ui.range.game .inner .thumb {
  top: 2px;
  height: 25px;
  width: 25px;
  border-radius: 2px;
  box-shadow: None;
  border-style: solid;
  border-width: 1px;
}

// ---------------------------------------------------------------------------------- //

// UI Semantic Dropdown
.ui.selection.dropdown .menu {
  max-height: 22.585714rem;
}

.ui.selection.dropdown.basic {
  border-color: black;
  border-radius: 0;
  font-size: large;
  min-width: 6em;
  width: 100%;
}

.ui.selection.dropdown.basic.iconed  {
  padding: 0px;
}

.ui.selection.dropdown.basic>.dropdown.icon {
  color: black;
}

.ui.selection.dropdown.basic.iconed>.dropdown.icon {
  margin-top: 0px;
}

.ui.selection.active.dropdown:hover, .ui.selection.active.dropdown:hover .menu {
  border-color: #BCBDBD;
  box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
  border-radius: 0;
}

// ---------------------------------------------------------------------------------- //

// UI semantic button

.ui.button.submit {
  border-radius: 0;
  font-size: 1.3em;
  width: 70%;
  background: black;
  color: white;
  border: white solid 1px;
  box-shadow: 2px 2px #1b1c1d;
}

// ---------------------------------------------------------------------------------- //

// central

.ui.relative {
  position: relative;
}

.ui.central.bg {
  width: 105%;
  margin-top: -5px;
  margin-left: -4px;
}

.ui.central.bg1 {
  margin-top: 0;
}

.ui.central.title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.ui.central.intro {
  width: 95%;
  line-height: 23px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.ui.central.goals {
  position: absolute;
  top: 30%;
  left: 10px;
  width: 55%;
}

.ui.central.value {
  position: absolute;
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  width: 37%;
}
.ui.central.reserve {
  top: 19%;
  left: 19%;
}
.ui.central.discretion {
  top: 8%;
  left: 19%;
}
.ui.central.suspense {
  top: 5%;
  left: 19%;
}
.ui.central.span {
  float: right;
  font-size: 0.7em;
  font-weight: normal;
  color: grey;
}

.ui.central.note {
  position: absolute;
  font-size: 1.0em;
  color: rgba(0, 0, 0, 0.45);
}

.ui.central.nreserve {
  top: 52%;
  left: 19%;
}
.ui.central.ndiscretion {
  top: 48%;
  left: 19%;
}
.ui.central.nsuspense {
  top: 46%;
  left: 19%;
}

.ui.central.graph {
  position: absolute;
  bottom: 80px;
  left: 12%;
  width: 75%;
}

.ui.central.hider {
  position: absolute;
  bottom: 31%;
  right: 12%;
  width: 70%;
  height: 60%;
  background: black;
  border-left: white solid 3px;
}

.ui.central.lresults {
  position: absolute;
  top: 15%;
  left: 20%;
  color: white;
  z-index: 100;
}

.ui.central.results {
  position: absolute;
  top: 15%;
  right: 14%;
  color: white;
  z-index: 100;
  text-align: right;
}
.ui.central.resnote {
  font-size: 19px;
}
.ui.central.resvalue {
  font-size: 26px;
}
.ui.central.redt {
  color: #FF6E6E;
}

.ui.central.year-selection {
  position: absolute;
  color: ghostwhite;
  bottom: 19%;
  left: 34%;
  font-size: 1.3em;
}

.ui.central.range {
  position: absolute;
  bottom: 9%;
  left: 17%;
  width: 68%;
}

// ---------------------------------------------------------------------------------- //
.ui.goal {
  background-color: white;
  max-height: 2.6em!important;
  width: 25%!important;
}

.ui.segment {
  border: None;
  box-shadow: None;
}

.ui.vertical.segment {
  border: None;
  box-shadow: None;
}

.ui.segment.full {
  padding: 20px 25px;
  background-color: rgba(0,0,0,0.05);
}

.ui.items>.item {
  margin: 1em 0;
}

.ui.intro {
  width: 50%;
}

.ui.table.results {
  background-color: rgba(0,0,0,0.05);
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.bold {
  border-color: black!important;
}

.boldr {
  border-right-color: black!important;
}
