<h1 class="ui central title">Do you know your money?</h1>
<p class="ui central intro">
  Find out what it would take to achieve your goals and be debt free within 5 years -it will take 2 minutes
</p>

<div class="ui relative">
  <img ng-src="assets/central/bg1.png" class="ui central bg bg1"/>
  <button class="ui central goals submit button" ui-sref="goals">Set Your Goals</button>
</div>

<div class="ui relative">
  <a ui-sref="income">
    <img ng-src="assets/central/bg2.png" class="ui central bg"/>
    <div class="ui central value reserve" ng-if="!vm.flags.reserve">$ __</div>
    <div class="ui central value reserve" ng-if="vm.flags.reserve">
      $ {{vm.gameData.getEarnings().toLocaleString("en-IN", {"maximumFractionDigits": 0})}}
      <span class="ui central span">/Week</span>
    </div>
    <div class="ui central nreserve">Earnings</div>
  </a>
</div>

<div class="ui relative">
  <a ui-sref="discretion">
    <img ng-src="assets/central/bg3.png" class="ui central bg"/>
    <div class="ui central value discretion" ng-if="!vm.flags.discretion">$ __</div>
    <div class="ui central value discretion" ng-if="vm.flags.discretion">
      $ {{vm.gameResults.DSum.toLocaleString("en-IN", {"maximumFractionDigits": 0})}}
      <span class="ui central span">/Week</span>
    </div>
    <div class="ui central ndiscretion">Habits</div>
  </a>
  <!-- <div class="ui central ndiscretion">{{(100 * vm.gameResults.DSum / vm.gameResults.total).toLocaleString()}}%</div> -->
</div>

<div class="ui relative">
  <a ui-sref="suspense">
    <img ng-src="assets/central/bg4.png" class="ui central bg"/>
    <div class="ui central value suspense" ng-if="!vm.flags.suspense">$ __</div>
    <div class="ui central value suspense" ng-if="vm.flags.suspense">
      $ {{vm.gameResults.SSum.toLocaleString("en-IN", {"maximumFractionDigits": 0})}}
      <span class="ui central span">/Week</span>
    </div>
    <div class="ui central nsuspense">Commitments</div>
  </a>
  <!-- <div class="ui central nsuspense">{{(100 * vm.gameResults.SSum / vm.gameResults.total).toLocaleString()}}%</div> -->
</div>

<div class="ui relative">
  <img ng-src="assets/central/bg5.png" class="ui central bg"/>
  <div class="ui central graph">
    <canvas id="canvas" width="280" height="210"></canvas>
  </div>
  <div class="ui central results">
    <p class="ui central resnote nomargin">Savings</p>
    <p class="ui central resvalue nomargin">$ {{vm.currentSavings.toLocaleString()}}</p>
    <p class="ui central resnote redt nomargin">Debt</p>
    <p class="ui central resvalue redt nomargin">$ {{vm.currentDebt.toLocaleString()}}</p>
  </div>
  <div class="ui central hider" id="time-hider"></div>
  <div class="ui central range game alone" id="time-range"></div>
</div>

<div class="ui center aligned vertical segment">
  <p>
  </p>
  <button ui-sref="signup" class="ui button submit"> Sign Up </button>
</div>
