<h1 class="ui center aligned segment"> Time Selection </h1>

<p class="ui center aligned segment"> COPY </p>

<div class="ui segment">
  <div class="ui divided items">
    <div class="item" ng-repeat="r in vm.ranges">
      <div class="ui header"> {{r.text}} </div>

      <div class="ui grid rgrid">
        <div class="ui four wide center aligned column rvalue"> {{vm.ranges[$index].value / 52}} Y </div>
        <div class="ui twelve wide column rbox">
          <div class="ui range game" id="{{r.name}}-range" ng-class="{disabled: vm.targetDisabled($index)}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="ui center aligned segment"> COPY </p>

<div class="ui center aligned vertical segment">
  <button ui-sref="budget" class="ui button"  ng-disabled="!vm.fulfilled()" ng-click="vm.submit()"> <i class="fa fa-check fa-2x" aria-hidden="true"></i> </button>
</div>
